<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <header></header>
    <main>
      <div class="bg"></div>

      <section class="profile-wrapper">
        <div class="profile">
          <picture>
            <source
              media="(min-width: 600px)"
              srcset="../../public/images/me.jpeg"
            />
            <img src="../../public/images/me.jpeg" alt="A girl" />
          </picture>
          <h1>Danilo Casim</h1>
        </div>
        <div class="about-me">
          <h2>About Me</h2>
          <p>
            I'm a third-year Computer Science student passionate about building
            practical and creative solutions through technology. Currently, I’m
            using The Odin Project to strengthen my skills in web development,
            focusing on both front-end and back-end technologies. I enjoy
            collaborating with others, sharing ideas, and working on projects
            that solve real problems while helping me grow as a developer.
          </p>
        </div>

        <div class="socials">
          <a
            href="https://github.com/danilocasim"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              class="icon"
              src="../../public/images/github.png"
              alt="Danilo's Github" /></a
          ><a
            href="https://www.linkedin.com/in/danilo-casim-jr09/"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              class="icon"
              src="../../public//images/linkedin.png"
              alt="Danilo's LinkedIn" /></a
          ><a
            href="https://x.com/Mizaccc"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              class="icon"
              src="../../public/images/twitter.png"
              alt="Danilo's Twitter"
          /></a>
        </div>
      </section>
      <section class="projects-wrapper">
        <h3>My Work</h3>
        <div class="projects">
          <div class="project">
            <div class="project-pic">
              <img
                src="../../public/images/battleship-screenshot.png"
                alt="battleship"
              />
            </div>
            <div class="project-description">
              <div class="project-name">
                <h4>Battleship</h4>
                <div class="project-links">
                  <a
                    href="https://github.com/danilocasim/battleship"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><img
                      src="../../public/images/github.png"
                      alt="Battleship Source Code"
                  /></a>
                  <a
                    href="https://danilocasim.github.io/battleship/"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><img
                      src="../../public/images/open-in-new.png"
                      alt="Battleship Live Preview"
                  /></a>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="project">
            <div class="project-pic">
              <img
                src="../../public/images/danilocasim.github.io_todo-list_.png"
                alt="todo list project"
              />
            </div>
            <div class="project-description">
              <div class="project-name">
                <h4>Todo</h4>
                <div class="project-links">
                  <a
                    href="https://github.com/danilocasim/todo-list"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><img
                      src="../../public/images/github.png"
                      alt="Todo list Source Code"
                  /></a>
                  <a
                    href="https://danilocasim.github.io/todo-list/"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><img
                      src="../../public/images/open-in-new.png"
                      alt="Todo list Live Preview"
                  /></a>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="project">
            <div class="project-pic">
              <img
                src="../../public/images/danilocasim.github.io_tictactoe_.png"
                alt="Tic Tac Toe Project"
              />
            </div>
            <div class="project-description">
              <div class="project-name">
                <h4>Tic Tac Toe</h4>
                <div class="project-links">
                  <a
                    href="https://github.com/danilocasim/tictactoe"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><img
                      src="../../public/images/github.png"
                      alt="Tic Tac Toe Source Code"
                  /></a>
                  <a
                    href="https://danilocasim.github.io/tictactoe/"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><img
                      src="../../public/images/open-in-new.png"
                      alt="Tic Tac Toe Live Preview"
                  /></a>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="project">
            <div class="project-pic">
              <img
                src="../../public/images/library-zeta-woad.vercel.app_.png"
                alt="Library Project"
              />
            </div>
            <div class="project-description">
              <div class="project-name">
                <h4>Library</h4>
                <div class="project-links">
                  <a
                    href="https://github.com/danilocasim/library"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><img
                      src="../../public/images/github.png"
                      alt="Library Source Code"
                  /></a>
                  <a
                    href="https://library-zeta-woad.vercel.app/"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><img
                      src="../../public/images/open-in-new.png"
                      alt="Library Live Preview"
                  /></a>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="project">
            <div class="project-pic">
              <img
                src="../../public/images/Screenshot from 2025-07-31 23-47-37.png"
                alt="CS Alumni Project"
              />
            </div>
            <div class="project-description">
              <div class="project-name">
                <h4>CS Alumni</h4>
                <div class="project-links">
                  <a
                    href="https://github.com/danilocasim/cvsu-alumni"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><img
                      src="../../public/images/github.png"
                      alt="CS Alumni Source Code"
                  /></a>
                  <a
                    href="https://csalumni.netlify.app/"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><img
                      src="../../public/images/open-in-new.png"
                      alt="CS Alumni Live Preview"
                  /></a>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="project">
            <div class="project-pic">
              <img
                src="../../public/images/Screenshot from 2025-07-31 23-47-54.png"
                alt="Aroma Apex Project"
              />
            </div>
            <div class="project-description">
              <div class="project-name">
                <h4>Aroma Apex</h4>
                <div class="project-links">
                  <a
                    href="https://github.com/danilocasim/coffee-shop"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><img
                      src="../../public/images/github.png"
                      alt="Aroma Apex Source Code"
                  /></a>
                  <a
                    href="https://danilocasim.github.io/coffee-shop/"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><img
                      src="../../public/images/open-in-new.png"
                      alt="Aroma Apex Live Preview"
                  /></a>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <section id="contactMe">
        <div class="contact-details">
          <h4>Contact Me</h4>
          <p class="description">
            Please get in touch if you think our work could be mutually
            beneficial
          </p>
          <p class="address">123 random road, Talon Uno, Las Pinas City.</p>
          <p class="hotline">887-8787-877</p>
          <p class="gmail">danilocasim@gmail.com</p>
          <div class="socials">
            <a href="#" target="_blank" rel="noopener noreferrer"
              ><img
                class="icon"
                src="../../public/images/github.png"
                alt="Danilo's Github" /></a
            ><a href="#" target="_blank" rel="noopener noreferrer"
              ><img
                class="icon"
                src="../../public//images/linkedin.png"
                alt="Danilo's LinkedIn" /></a
            ><a href="#" target="_blank" rel="noopener noreferrer"
              ><img
                class="icon"
                src="../../public/images/twitter.png"
                alt="Danilo's Twitter"
            /></a>
          </div>
        </div>
        <img class="pic" src="../../public/images/me.jpeg" alt="profile" />
      </section>
    </footer>
  </body>
</html>
