<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <header></header>
    <main>
      <section class="profile-wrapper">
        <div class="bg"></div>
        <div class="profile">
          <picture>
            <source
              media="(min-width: 600px)"
              srcset="../../public/images/profile-1920w.jpg"
            />
            <img src="../../public/images/profile-640w.jpg" alt="A girl" />
          </picture>
          <h1>Danilo Casim Jr</h1>
        </div>
        <div class="about-me">
          <h2>About Me</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
            faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi
            pretium tellus duis convallis. Tempus leo eu aenean sed diam urna
            tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
            Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut
            hendrerit semper vel class aptent taciti sociosqu. Ad litora
            torquent per conubia nostra inceptos himenaeos.
          </p>
        </div>

        <div class="socials">
          <a href="#" target="_blank" rel="noopener noreferrer"
            ><img
              class="icon"
              src="../../public/images/github.png"
              alt="Danilo's Github" /></a
          ><a href="#" target="_blank" rel="noopener noreferrer"
            ><img
              class="icon"
              src="../../public//images/linkedin.png"
              alt="Danilo's LinkedIn" /></a
          ><a href="#" target="_blank" rel="noopener noreferrer"
            ><img
              class="icon"
              src="../../public/images/twitter.png"
              alt="Danilo's Twitter"
          /></a>
        </div>
      </section>
      <section class="projects-wrapper">
        <h3>My Work</h3>
        <div class="projects">
          <div class="project">
            <div class="project-pic">
              <img
                src="../../public/images/profile-640w.jpg"
                alt="battleship"
              />
            </div>
            <div class="project-description">
              <div class="project-name">
                <h4>Battleship</h4>
                <div class="project-links">
                  <a href="http://" target="_blank" rel="noopener noreferrer"
                    ><img src="#" alt="Battleship Source Code"
                  /></a>
                  <a href="http://" target="_blank" rel="noopener noreferrer"
                    ><img src="#" alt="Battleship Source Code"
                  /></a>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="project">
            <div class="project-pic">
              <img
                src="../../public/images/profile-640w.jpg"
                alt="battleship"
              />
            </div>
            <div class="project-description">
              <div class="project-name">
                <h4>Battleship</h4>
                <div class="project-links">
                  <a href="http://" target="_blank" rel="noopener noreferrer"
                    ><img src="#" alt="Battleship Source Code"
                  /></a>
                  <a href="http://" target="_blank" rel="noopener noreferrer"
                    ><img src="#" alt="Battleship Source Code"
                  /></a>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="project">
            <div class="project-pic">
              <img
                src="../../public/images/profile-640w.jpg"
                alt="battleship"
              />
            </div>
            <div class="project-description">
              <div class="project-name">
                <h4>Battleship</h4>
                <div class="project-links">
                  <a href="http://" target="_blank" rel="noopener noreferrer"
                    ><img src="#" alt="Battleship Source Code"
                  /></a>
                  <a href="http://" target="_blank" rel="noopener noreferrer"
                    ><img src="#" alt="Battleship Source Code"
                  /></a>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="project">
            <div class="project-pic">
              <img
                src="../../public/images/profile-640w.jpg"
                alt="battleship"
              />
            </div>
            <div class="project-description">
              <div class="project-name">
                <h4>Battleship</h4>
                <div class="project-links">
                  <a href="http://" target="_blank" rel="noopener noreferrer"
                    ><img src="#" alt="Battleship Source Code"
                  /></a>
                  <a href="http://" target="_blank" rel="noopener noreferrer"
                    ><img src="#" alt="Battleship Source Code"
                  /></a>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="project">
            <div class="project-pic">
              <img
                src="../../public/images/profile-640w.jpg"
                alt="battleship"
              />
            </div>
            <div class="project-description">
              <div class="project-name">
                <h4>Battleship</h4>
                <div class="project-links">
                  <a href="http://" target="_blank" rel="noopener noreferrer"
                    ><img src="#" alt="Battleship Source Code"
                  /></a>
                  <a href="http://" target="_blank" rel="noopener noreferrer"
                    ><img src="#" alt="Battleship Source Code"
                  /></a>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="project">
            <div class="project-pic">
              <img
                src="../../public/images/profile-640w.jpg"
                alt="battleship"
              />
            </div>
            <div class="project-description">
              <div class="project-name">
                <h4>Battleship</h4>
                <div class="project-links">
                  <a href="http://" target="_blank" rel="noopener noreferrer"
                    ><img src="#" alt="Battleship Source Code"
                  /></a>
                  <a href="http://" target="_blank" rel="noopener noreferrer"
                    ><img src="#" alt="Battleship Source Code"
                  /></a>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <section id="contactMe">
        <div class="contact-details">
          <h4>Contact Me</h4>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Lorem ipsum
            dolor sit amet consectetur adipiscing elit.
          </p>
          <p class="address">
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Lorem ipsum
          </p>
          <p class="hotline">88787-8787-877</p>
          <p class="gmail">danilocasim@gmail.com</p>
          <div class="socials">
            <a href="#" target="_blank" rel="noopener noreferrer"
              ><img
                class="icon"
                src="../../public/images/github.png"
                alt="Danilo's Github" /></a
            ><a href="#" target="_blank" rel="noopener noreferrer"
              ><img
                class="icon"
                src="../../public//images/linkedin.png"
                alt="Danilo's LinkedIn" /></a
            ><a href="#" target="_blank" rel="noopener noreferrer"
              ><img
                class="icon"
                src="../../public/images/twitter.png"
                alt="Danilo's Twitter"
            /></a>
          </div>
        </div>
        <img src="../../public/images/profile-640w.jpg" alt="profile" />
      </section>
    </footer>
  </body>
</html>
