<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <header>
      <div class="profile-wrapper">
        <div class="bg"></div>
        <div class="profile">
          <picture>
            <source
              media="(min-width: 600px)"
              srcset="../../public/images/profile-1920w.jpg"
            />
            <img src="../../public/images/profile-640w.jpg" alt="A girl" />
          </picture>
          <h1>Danilo Casim Jr</h1>
        </div>
        <div class="about-me">
          <h2>About Me</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
            faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi
            pretium tellus duis convallis. Tempus leo eu aenean sed diam urna
            tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
            Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut
            hendrerit semper vel class aptent taciti sociosqu. Ad litora
            torquent per conubia nostra inceptos himenaeos.
          </p>
        </div>
      </div>
    </header>
    <main></main>
    <footer></footer>
  </body>
</html>
