@import "./reset.css";

@font-face {
  font-family: "Montserrat";
  src:
    url("../../public/fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("../../public/fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Montserrat", system-ui, sans-serif;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.profile-wrapper {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  width: 100vw;
}

.bg {
  position: absolute;
  top: -70%;
  object-fit: cover;
  background-color: rgb(7, 111, 175);
  height: 100%;
  width: 100%;
  transform: scale(2) rotateZ(50deg);

  z-index: -1;
}

.profile {
  /* float: left; */
  text-align: center;
  color: white;
  position: relative;
  max-width: 30rem;
}
.profile img {
  object-fit: cover;
}

.profile h1 {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  bottom: 1px;
}

.about-me {
  font-size: 2rem;
  text-align: center;
}
