@import "./reset.css";

@font-face {
  font-family: "Montserrat";
  src:
    url("../../public/fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("../../public/fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Montserrat", system-ui, sans-serif;
  overflow-x: hidden;
}

section {
  padding: 3rem;
  width: 100vw;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.bg {
  position: absolute;
  top: -20%;
  object-fit: cover;
  background-color: rgb(19, 115, 206);
  height: 70%;
  width: 100vw;
  transform: skewY(-10deg);
  z-index: -1;
}

.profile {
  /* float: left; */
  text-align: center;
  color: white;
  position: relative;
  background-color: blue;
  max-width: 30rem;
}

.profile img {
  object-fit: cover;
}

.profile h1 {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  bottom: 1px;
}

.about-me {
  font-size: 2rem;
  text-align: center;
}

.icon {
  height: auto;
  width: 4rem;
}

.socials {
  display: flex;
  gap: 2rem;
}

.profile-wrapper {
  display: grid;
  place-content: center;
  place-items: center;
}

.projects-wrapper h3 {
  font-size: 3rem;
  text-align: center;
}

.projects {
  display: grid;
  place-content: center;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.project {
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: rgb(19, 115, 206);
  padding: 0rem;
}

.contact-details {
  padding: 3rem;
}

#contactMe {
  padding: 0;
}

footer img {
  display: block;
}
